.container {
  display: flex;
  flex-direction: column;
  background-color: #92724f;
  margin: 20px auto;
  align-items: center;
  max-width: 30%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 10px 5px 5px black;
}
label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  font-family: 'Sudo';
  font-size: 16px;
  color: white;
  height: 30px;
  flex: 0 0 200px;
  margin-left: 10px;
  background-color: #716252;
  border: none;
}
button {
  width: 100%;
  box-shadow: 3px 1px 5px black;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: rgb(86, 61, 61);
  font-family: sans-serif;
  font-size: 16px;
}
.btn {
  background-color: brown;
}
.btn:hover {
  background-color: rgb(37, 10, 10);
  color: white;
}
.dis {
  font-family: 'Sudo';
  font-size: 16px;
  color: white;
  border: none;
  background-color: #716252;
  height: 50px;
  width: 50%;
}
