.gridCont {
  background-color: rgb(112, 0, 107);
  padding: 10px 20px;
  --auto-grid-min-size: 12rem;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 2rem;
}
li {
  /* padding: 0.5rem 1rem; */
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1rem;
  background: #92400e;
  color: #ffffff;
  list-style: none;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: 10px 5px 10px 5px black;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.linkdiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  background-color: black;
}
.ratandrev {
  color: rgb(255, 0, 195);
}

.title {
  letter-spacing: 2px;
  padding: 0px 5px;
}
.delBtn,
.updateBtn,
.link {
  padding: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  transition: 0.5s;
}
.delBtn:hover,
.updateBtn:hover,
.link:hover {
  color: rgb(255, 119, 0);
}
.bookImg {
  transition: 2s;
  cursor: pointer;
}
.bookImg:hover {
  transform: scale(1.5);
}
