.gridCont {
  background-color: white;
  padding: 10px 20px;
  --auto-grid-min-size: 16rem;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 1rem;
}
li {
  /* padding: 0.5rem 1rem; */
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  background: #eb4d4b;
  color: #ffffff;
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.linkdiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  background-color: black;
}
.link {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 5px;
  transition: 0.5s;
}
.link:hover {
  background-color: white;
  color: black;
}

.title {
  letter-spacing: 2px;
  padding: 0px 5px;
}
.delBtn {
  cursor: pointer;
  background-color: white;
  color: black;
}
.updateBtn {
  cursor: pointer;
  background-color: white;
  color: black;
}
